<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Operaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="number" label ="Número 1"  [(ngModel)]="txt_n1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" label ="Número 2"  [(ngModel)]="txt_n2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" label ="Resultado" [value]="txt_r"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="success"  (click)="suma()"><ion-icon name="add-outline"></ion-icon> Sumar</ion-button>
    <ion-button color="warning"  (click)="resta()"><ion-icon name="remove-outline"></ion-icon> Restar</ion-button>
    <ion-button color="primary"  (click)="multiplica()"><ion-icon name="close-outline"></ion-icon> Multiplicar</ion-button>
    <ion-button color="danger"  (click)="divide()"><ion-icon name="share-social-outline"></ion-icon> Dividir</ion-button>
  </ion-item>
</ion-content>
