<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Operaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="number" label ="Número 1"  [(ngModel)]="txt_n1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" label ="Número 2"  [(ngModel)]="txt_n2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" label ="Resultado" [value]="txt_r"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button color="success"  (click)="suma()">Sumar</ion-button>
    <ion-button color="danger"  (click)="resta()">Restar</ion-button>
    <ion-button color="tertiary"  (click)="multiplica()">Multiplicar</ion-button>
    <ion-button color="secondary"  (click)="divide()">Dividir</ion-button>
  </ion-item>
</ion-content>
