<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>econtacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre: </ion-label>
    <ion-input  [(ngModel)]="txtnombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido: </ion-label>
    <ion-input  [(ngModel)]="txtapellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Telefono: </ion-label>
    <ion-input  [(ngModel)]="txttelefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email: </ion-label>
    <ion-input  [(ngModel)]="txtemail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button expand="block" color="danger" (click)="eliminar()">Eliminar</ion-button>
  </ion-item>
</ion-content>
 
