<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información Personal</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="floating">Cédula</ion-label>
          <ion-input [(ngModel)]="txtcedula" type="text" pattern="[0-9]*" inputmode="numeric"></ion-input>
        </ion-item>
        
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input [(ngModel)]="txtnombre" type="text"></ion-input>
        </ion-item>
        
        <ion-item lines="full">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input [(ngModel)]="txtapellido" type="text"></ion-input>
        </ion-item>
        
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="txtemail" type="email"></ion-input>
        </ion-item>
        
        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="txtclave" type="password"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
      <ion-card-title>Preguntas de Seguridad</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
      <ion-item lines="full">
        <ion-label position="floating">¿Cuál es el nombre de tu primera mascota?</ion-label>
        <ion-input [(ngModel)]="txtrespuesta1" type="text"></ion-input>
      </ion-item>
      
      <ion-item lines="full">
        <ion-label position="floating">¿En qué ciudad naciste?</ion-label>
        <ion-input [(ngModel)]="txtrespuesta2" type="text"></ion-input>
      </ion-item>
      
      <ion-item lines="full">
        <ion-label position="floating">¿Cuál es tu comida favorita?</ion-label>
        <ion-input [(ngModel)]="txtrespuesta3" type="text"></ion-input>
      </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" color="primary" (click)="guardar()" class="ion-margin-top">
      Crear Cuenta
    </ion-button>
    <ion-button expand="block" fill="outline" color="medium" (click)="navCtrl.back()" class="ion-margin-top">
      Regresar
    </ion-button>
  </div>
</ion-content>
