<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Cedula: </ion-label>
    <ion-input  [(ngModel)]="txtcedula"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre: </ion-label>
    <ion-input  [(ngModel)]="txtnombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido: </ion-label>
    <ion-input  [(ngModel)]="txtapellido"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label>Clave: </ion-label>
    <ion-input  [(ngModel)]="txtclave" type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email: </ion-label>
    <ion-input  [(ngModel)]="txtemail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>¿Nombre de su abuela paterna? </ion-label>
    <ion-input  [(ngModel)]="txtrespuesta1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>¿Su color Favorito? </ion-label>
    <ion-input  [(ngModel)]="txtrespuesta2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>¿Nombre de su animal Favorito? </ion-label>
    <ion-input  [(ngModel)]="txtrespuesta3"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button expand="block" color="warning" (click)="guardar()">Crear Persona</ion-button>
  </ion-item>
</ion-content>
 
