<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Cédula:" type="number" [(ngModel)]="txt_cedula" (focusout)="vCedula()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Nombres:" type="text" [(ngModel)]="txt_nombres"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Apellido:" type="text" [(ngModel)]="txt_apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Correo Electrónico:" type="email" [(ngModel)]="txt_correo" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Clave:" type="password" [(ngModel)]="txt_clave" (focusout)="vClave()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Verificar Clave:" type="password" [(ngModel)]="txt_clave2" (focusout)="vClave()" ></ion-input>
    <ion-label color="danger">{{mensaje}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-button (click)="guardar()" [disabled]="bloqueado" color="success">Crear Cuenta</ion-button>
    <ion-button (click)="cancelar()" color="danger">Cancelar</ion-button>
  </ion-item>
  <ion-item>
    
  </ion-item>
</ion-content>
 
