<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div>
   <h2>¡Hola, Mundo!</h2>   
 </div>
 <ion-input label="Text input" placeholder="Enter text"></ion-input>
 <ion-button expand="block" color="success">Aceptar</ion-button> 
 <ion-button><ion-icon slot="icon-only" name="heart"></ion-icon></ion-button>
 <ion-button expand="full" [disabled]="true">Bloqueado</ion-button>
 <ion-label>Usuario</ion-label>
 <ion-input type="text" placeholder="Ingrese su usuario"></ion-input>

</ion-content>
