.titulo{
  font-family: 'Trebuchet MS';
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: rgb(1,99,170);
}
.opciones
{
  font-family: 'Trebuchet MS';
  font-size: large;
  text-align: center;
  color: rgb(254,89,22);
}
.etiquetas{
  font-family: 'Trebuchet MS';
  font-size: medium;
  font-weight: bold;
  text-align: left;
  color: rgb(1,99,170);
}
.subtitulo{
  font-family: 'Trebuchet MS';
  font-size: medium;
  font-weight: bold;
  text-align: center;
  color: rgb(1,99,170);
}