<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tareas"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ titulo }}</ion-card-title>
      
    
    </ion-card-header>
    
    <ion-card-content>
      <p><strong></strong> {{ descripcion }}</p>
      
      <ion-item lines="none" class="ion-margin-top">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>
          <p>Fecha Límite:</p>
          <h3>{{ formatFecha(fecha) }}</h3>
        </ion-label>
      </ion-item>  
      
    </ion-card-content>
  </ion-card>

  
</ion-content>