<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tareas"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ titulo }}</ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
      <p><strong>Descripción:</strong> {{ descripcion }}</p>
      
      
      
    </ion-card-content>
  </ion-card>

  
</ion-content>