<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>
 
<div id="map" class="map-container"></div>
 
<div class="control-buttons">
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button (click)="obtenerUbicacion()">
      <ion-icon name="location"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="limpiarMarcadores()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</div>
 
<ion-card class="info-card">
  <ion-card-content>
    <ion-text>
      <p><strong>Total de Marcadores: </strong>{{nmarcadores()}}</p>
      <p><small>Haz clic en el mapa para agregar marcadores</small></p>
      <p><small>Doble clic en un marcador para eliminarlo</small></p>
    </ion-text>
  </ion-card-content>
</ion-card>
 